* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: rgb(245, 245, 245);
}

h4 {
    background-color: transparent;
}

.App {
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}

.dropDown-Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.countryPicker-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numberBar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 100%;
}

.numberBar-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    min-width: 33%;
}

.graph-container {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
